/* =========================================
   Estrutura do index
========================================= */

body {
  background-color: #e26324;
}

img {
  width: 300px;
}

.hero {
  background-image: url("images/Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.motivacional {
  position: absolute;
  top: 50%;
  left: 50%;
}
