/* =========================================
   Estrutura do index
========================================= */

/* body {
  background-color: #e26324;
}

img {
  width: 300px;
} */

/* background */
html {
  background-image: url("images/Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200vh;
}

/* Posição do texto motivacional */
.motivacional {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Call to action dos projetos */
.cta {
  position: absolute;
  top: 65%;
  left: 50%;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
}

/* Seccção sobre projetos */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

nav a {
text-decoration: none;
color: inherit;
}

.projetos-container {
  display: flex;
  gap: 20px;
}

.card {
  padding: 20px;
  border: 1px solid black;
  width: 250px;
}

/* Interface */
.interfaces-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.texto {
  flex: 1;
}

.wordcloud {
  flex: 1;
}

.wordcloud img {
  width: 100%;
}

/* Telemóvel */
@media (width <= 600px) {
  .interfaces-container {
    flex-direction: column;
  }
}
