header {
  background-color: darkgreen;
}

body {
  background-color: red;
}

section {
  background-color: darkred;
}

aside {
  background-color: green;
}

footer {
  background-color: lightgreen;
}

body {
    display: grid;
}
