header {
  background-color: darkgreen;
}

main{
  backgroun-color: red;
}
section {
  background-color: darkred;
}

aside {
  background-color: green;
}

footer {
  background-color: lightgreen;
}

body {
    display: grid;
    display: flex;
}
