/* =========================================
   Estrutura do index
========================================= */

main {
  background-image: url("images/marginal.jpg");
  display: flex;
  flex-direction: column;
}
